[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    st = status
    co = checkout
    ps = push
    pl = pull
    c = commit
    cm = commit -m
    a = add --all
    f = fetch --prune
    b = branch
    r = reset
    sw = switch
    re = restore
    dlog = "!f() { git log -p --ext-diff $@; }; f"
    pushf = push --force-if-includes --force-with-lease
    cp = cherry-pick
    rb = rebase
[user]
    email = 66548698+harsssh@users.noreply.github.com
    name = Kentaro Mizuki
    signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDQbUsFbA0OhRzIPjHYyzXXkLN968HzLC9Md9c7fdtJ+ kemizuki@MBP
[core]
    editor = nvim
	autocrlf = input
[push]
    default = current
    autoSetupRemote = true
[merge]
    conflictStyle = diff3
    # 表示はシンプルな方がいいので、あえて nvimdiff を使わない
    tool = vimdiff
[mergetool]
    keepBackup = false
[rerere]
    enabled = true
[pull]
    rebase = false
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[diff]
    external = difft
[advice]
    mergeConflict = false
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

