[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    br-prune = !git branch --merged | egrep -v '\\*|master|main' | xargs git branch -d
    st = status
    co = checkout
    ps = push
    pl = pull
    c = commit
    cm = commit -m
    a = add --all
    f = fetch --prune
    b = branch
    r = reset
    sw = switch
    re = restore
    dlog = "!f() { git log -p --ext-diff $@; }; f"
    ai = "!aicommits"
[user]
    email = 66548698+harsssh@users.noreply.github.com
    name = harsh
[core]
    editor = nvim
[push]
    default = current
    autoSetupRemote = true
[pull]
    rebase = true
[commit]
  gpgSign = false
[credential]
    helper = osxkeychain
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[diff]
    external = difft
