"$schema" = 'https://starship.rs/config-schema.json'

format = "$all\n$character"

[line_break]
# format で明示的に改行をいれてるので、disabled にする
disabled = true

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

# zsh ではこれだけしか使えない
vimcmd_symbol = '[V](bold green)'

[aws]
disabled = true

[gcloud]
disabled = true

[package]
disabled = true

[username]
disabled = true

[time]
disabled = true

[jobs]
disabled = false
