name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  darwin:
    runs-on: macos-latest
    strategy:
      matrix:
        profile: [work, personal]
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: cachix/cachix-action@v15
        with:
          name: harsssh
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build
        run: nix build .#darwinConfigurations.${{ matrix.profile }}.system
