name: Nix Flake Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: cachix/cachix-action@v15
        with:
          name: harsssh
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run nix flake check
        run: nix flake check
